.select_brunch {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

.station_link {
    color: black;
    overflow-wrap: normal;
    word-break: normal;
    white-space: nowrap
}

.station_link_active {
    color: black;
    text-decoration: underline;
    overflow-wrap: normal;
    word-break: normal;
    white-space: nowrap
}

.station_img_hidden {
    display: none;
}

.brunch_link_active {
    /*color: black;*/
    font-weight: bold;
    text-decoration: underline;
}

/*.dropdowns-group button:not(:first-child){*/
/*    font-weight: bold;*/
/*}*/

/*.dropdowns-group button:nth-child(-n+2) {*/
/*    !*background: skyblue;*!*/
/*    border-top-right-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/

#material-dropdown,
#floors_count-dropdown {
    /*background: skyblue;*/
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*.dropdowns-group button:not(:last-child){*/
/*    font-weight: lighter;*/
/*}*/
.pre_line {
    white-space: pre-line;
    width: 150px;
}

#input-group-dropdown-floor,
#districts_search_button,
#metro_search_button,
#to_metro_search_button,
#year-dropdown,
#material-dropdown,
#floors_count-dropdown,
#input-group-dropdown-price {
    white-space: pre-line;
}

/* .inner-container { */
/* background: red; */
/* grid-area: inner-container; */
/* overflow-y: scroll; */
/* height: 100%; */
/* font-size: 144px; */
/* } */

.front,
.back {
    background-size: cover;
}

.c {
    position: absolute;
    /* max-width: 500px; */
    /* max-height: 500px; */
    /* width: 350px; */
    /* height: 200px; */
    cursor: pointer;
    will-change: transform, opacity;
}

.full_image {
    max-width: 100%;
    height: auto
}

.metro_brunch_round{
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    margin-right: 5px;
}

